<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div id = "kalk">
  <input type="text" [(ngModel)]="str" placeholder="Masukkan hitungan di sini..."><br>
  <input type="button" value = 7 (click)="add7()">
  <input type="button" value = 8 (click)="add8()">
  <input type="button" value = 9 (click)="add9()"><br>
  <input type="button" value = 4 (click)="add4()">
  <input type="button" value = 5 (click)="add5()">
  <input type="button" value = 6 (click)="add6()"><br>
  <input type="button" value = 1 (click)="add1()">
  <input type="button" value = 2 (click)="add2()">
  <input type="button" value = 3 (click)="add3()"><br>
  <input type="button" value = '-' (click)="addMin()">
  <input type="button" value = '+' (click)="addPlus()">
  <input type="button" value = '*' (click)="addMul()">
  <input type="button" value = "=" (click)="calc()">
</div>